.comp-container::-webkit-scrollbar {
  width: 6px;
}

.comp-container::-webkit-scrollbar-track {
  background: #2F2F30;
  border-radius: 10px;
}
.comp-container::-webkit-scrollbar-thumb {
  background: #555556;
  border-radius: 10px;
}

.comp-container::-webkit-scrollbar-thumb:hover {
  background: #6C6C6D;
}

body{
background-color: #39393A;
overflow-y: hidden;
width: 300px;
height: 250px;
}
.main{
display: flex;
flex-direction: column;
gap: 10px;
height: 100%;

}
.heading {
background-color: #2F2F30;
text-align: center;
border-radius: 10px;
cursor: pointer;
}
.heading p{
color: #8A8A8B;
font-size: 15px;

}

.comp-container{
	padding: 4px;
	background-color: #2F2F30;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	flex: 1 ;
	gap: 5px;
	color : #8A8A8B;
	overflow-y: scroll;

}

.comp{
	background-color: #262627;
	padding:5px;
	border-radius: 10px;
	font-size: 17px;
	cursor: pointer;

}
.comp:hover{
	background-color: #2F2F30;


}
